# dependencies
/node_modules

# production
/build
/dist
/coverage

# uploads folder (arquivos de usuários)
/uploads/*
!uploads/.gitkeep

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development

# sqlite database
/prisma/dev.db
/prisma/dev.db-journal

# logs
/logs
*.log
