# Configurações do servidor
PORT=4000
NODE_ENV=development

# Segurança
JWT_SECRET='sIagXoyjkf6tFydpov5XqkvJY+yM7LeTaUGj+4RqCRg='
TOKEN_EXPIRATION='1h'

# URLs
FRONTEND_URL=http://localhost:8080
API_URL=http://localhost:4000

# Configuração para ambiente de desenvolvimento usando SQLite
DATABASE_URL="file:../prisma/dev.db"

